<div class="discovery-tiles">

    <div class="row">


        <div class="col-lg-8 col-md-12 rm-padding-sm">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a1.muscache.com/ic/discover/85?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px');" data-sm-img-url="https://a1.muscache.com/ic/discover/85?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="New York">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'New York'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-4">
            <div class="">
                <div class="darken-on-hover-container">
                    <a href="javascript:void(0);" class="text-normal link-reset">
                        <div class="discovery-card darken-on-hover discovery-listing" style="background-image:url('https://a2.muscache.com/im/pictures/34763056/6c2e8cef_original.jpg?aki_policy=x_medium')">
                            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                <sup class="h6 text-contrast">

                                </sup>
                                <span class="h3 price-amount">
                  9579
                </span>
                                <sup class="h6 text-contrast">
                                    р
                                </sup>
                            </div>

                            <div class="va-container va-container-v va-container-h">
                                <div class="va-middle text-center text-contrast">
                                    <div class="media-photo media-round space-2 card-profile-picture">
                                        <img alt="" height="50" src="https://a0.muscache.com/im/users/12070512/profile_pic/1395882331/original.jpg?aki_policy=profile_medium" width="50">
                                    </div>
                                    <div class="h3 strong">{{ 'Hosted by Robyn'|translate }}</div>
                                    <div>{{ 'Amed'|translate }}</div>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm ">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a0.muscache.com/ic/pictures/discovery/attribute_photos/beach_1x1.jpg?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;size=large_cover&amp;downsize=326px:326px&amp;v=6');" data-sm-img-url="https://a0.muscache.com/ic/pictures/discovery/attribute_photos/beach_2x1.jpg?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;size=large_cover&amp;downsize=655px:326px&amp;v=6">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'Get some sun in Hawaii'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm hide-sm">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a1.muscache.com/ic/discover/396?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=326px:326px');" data-sm-img-url="https://a0.muscache.com/ic/discover/397?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="Paris">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'Paris'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm hide-sm">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a0.muscache.com/ic/discover/228?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;crop=0.67xw:1xh;*,*&amp;downsize=326px:326px');" data-sm-img-url="https://a2.muscache.com/ic/discover/2752?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;crop=0.67xw:1xh;*,*&amp;downsize=655px:326px">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="Barcelona">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'Barcelona'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm space-4">
            <div class="">
                <div class="darken-on-hover-container">
                    <a href="javascript:void(0);" class="text-normal link-reset">
                        <div class="discovery-card darken-on-hover discovery-listing" style="background-image:url('https://a1.muscache.com/im/pictures/12978640/7d58d55d_original.jpg?aki_policy=x_medium')">
                            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                <sup class="h6 text-contrast">

                                </sup>
                                <span class="h3 price-amount">
                  11146
                </span>
                                <sup class="h6 text-contrast">
                                    р
                                </sup>
                            </div>

                            <div class="va-container va-container-v va-container-h">
                                <div class="va-middle text-center text-contrast">
                                    <div class="media-photo media-round space-2 card-profile-picture">
                                        <img alt="" height="50" src="https://a0.muscache.com/im/users/2430022/profile_pic/1422648116/original.jpg?aki_policy=profile_medium" width="50">
                                    </div>
                                    <div class="h3 strong">{{ 'Hosted by Peter &amp; James'|translate }}</div>
                                    <div>{{ 'London'|translate }}</div>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-12 hide-sm rm-padding-sm">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a2.muscache.com/ic/discover/42?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px');" data-sm-img-url="https://a2.muscache.com/ic/discover/42?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="London">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'London'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 hide-sm rm-padding-sm col-switch col-md-push-6 col-lg-push-0">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a2.muscache.com/ic/discover/275?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=326px:326px');" data-sm-img-url="https://a1.muscache.com/ic/discover/276?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="San Francisco">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'San Francisco'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 hide-sm rm-padding-sm ">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a1.muscache.com/ic/discover/94?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=326px:326px');" data-sm-img-url="https://a0.muscache.com/ic/discover/95?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="Berlin">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'Berlin'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 hide-sm rm-padding-sm ">
            <div class="discovery-card rm-padding-sm space-4 darken-on-hover " style="background-image:url('https://a0.muscache.com/ic/pictures/discovery/attribute_photos/romantic_1x1.jpg?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;size=large_cover&amp;downsize=326px:326px&amp;v=6');" data-sm-img-url="https://a0.muscache.com/ic/pictures/discovery/attribute_photos/romantic_2x1.jpg?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;size=large_cover&amp;downsize=655px:326px&amp;v=6">
                <a href="javascript:void(0);" class="link-reset" data-hook="discovery-card" data-id="Budapest">
                    <div class="va-container va-container-v va-container-h">
                        <div class="va-middle text-center text-contrast">
                            <div class="h2">
                                <strong>
                                    {{ 'Fall in love in Budapest'|translate }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>