<app-top-menu></app-top-menu>
<div class="subnav" data-sticky="true">
    <div class="page-container page-container-responsive">
        <ul class="subnav-list">
            <li class="subnav-children show-sm">
                <a class="subnav-item subnav-item-child" routerLink="/about/about-us">
                    About Us
                </a>
                <a class="subnav-item subnav-item-child" routerLink="/about/founders">
                    Founders
                </a>
            </li>
            <li>
                <a class="subnav-item" routerLink="/about/about-us" aria-selected="true">
                    About
                    <i class="show-sm subnav-icon-toggle icon icon-chevron-down pull-right"></i>
                </a>
            </li>
            <li>
                <a class="subnav-item" href="/press/news">
                    Press
                </a>
            </li>
            <li>
                <a class="subnav-item" href="/careers">
                    Careers
                </a>
            </li>
            <li>
                <a class="subnav-item" href="javascript:void(0);">
                    Blog
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="page-container page-container-responsive space-4 space-top-6">
<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <app-about-menu></app-about-menu>
        </div>
    </div>
    <div class="col-9 col-offset-1">
        <div class="text-copy">
            <h1 class="h2 space-4">About Us</h1>

            <p>
                Founded in August of 2008 and based in San Francisco, California, Airbnb is a trusted community marketplace for people to list, discover, and book unique accommodations around the world — online or from a mobile phone or tablet.
            </p>

            <p class="space-4">
                Whether an apartment for a night, a castle for a week, or a villa for a month, Airbnb connects people to unique travel experiences, at any price point, in more than 34,000 cities and 191 countries. And with world-class customer service and a growing community of users, Airbnb is the easiest way for people to monetize their extra space and showcase it to an audience of millions.
            </p>

            <div class="row space-4">
                <div class="col-6">
                    <div class="info-panel panel">
                        <div class="panel-body">
                            <div class="row row-condensed">
                                <div class="col-lg-3 text-center">
                                    <i class="icon icon-group icon-rausch icon-size-3"></i>
                                </div>
                                <div class="col-lg-9 col-md-12 text-center-sm">
                                    <div class="h6 space-top-2 space-1">Total Guests</div>
                                    <div class="h2">60,000,000+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="info-panel panel">
                        <div class="panel-body">
                            <div class="row row-condensed">
                                <div class="col-lg-3 text-center">
                                    <i class="icon icon-city icon-rausch icon-size-3"></i>
                                </div>
                                <div class="col-lg-9 col-md-12 text-center-sm">
                                    <div class="h6 space-top-2 space-1">Cities</div>
                                    <div class="h2">34,000+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row space-4">
                <div class="col-6">
                    <div class="info-panel panel">
                        <div class="panel-body">
                            <div class="row row-condensed">
                                <div class="col-lg-3 text-center">
                                    <i class="icon icon-castle icon-rausch icon-size-3"></i>
                                </div>
                                <div class="col-lg-9 col-md-12 text-center-sm">
                                    <div class="h6 space-top-2 space-1">Castles</div>
                                    <div class="h2">1,400+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="info-panel panel">
                        <div class="panel-body">
                            <div class="row row-condensed">
                                <div class="col-lg-3 text-center">
                                    <i class="icon icon-globe-alt icon-rausch icon-size-3"></i>
                                </div>
                                <div class="col-lg-9 col-md-12 text-center-sm">
                                    <div class="h6 space-top-2 space-1">Countries</div>
                                    <div class="h2">191+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
</div>
<app-bottom-menu></app-bottom-menu>