<div id="map"></div>
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="10">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [title]="'title'" [label]="'9'">
        <sebm-google-map-info-window [disableAutoPan]="true">
            <div class="map-marker">
                <div class="tooltip tooltip-bottom-middle tooltip-layout tooltip-primary">
                    <div class="price-marker__label">
                        <div class="price-label">
                            <span>
                                <span class="price-amount">8889</span>
                                <sup class="currency-suffix">₽</sup>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
    <sebm-google-map-marker *ngFor="let ad of ads" [latitude]="ad.coordinates.lat" [longitude]="ad.coordinates.lng"></sebm-google-map-marker>
</sebm-google-map>