<app-top-menu></app-top-menu>
<app-help-search></app-help-search>
<div id="login-container">
    <div class="login-box text-center">
        <div class="va-container va-container-h va-container-v">
            <div class="va-middle">
                <div class="space-6">
                    <h3 class="text_1lobov3-o_O-size_title3_czh5ol-o_O-weight_bold_1mzzwq6-o_O-color_inverse_113vl3">
                        <span>{{ 'Log in for personalized help'|translate }}</span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span data-login-modal="true">
                            <button aria-disabled="false" type="button" class="container_1atmsee-o_O-container_l3hzrm">
                                <span class="text_10flerh-o_O-text_1efbvjp">
                                    <span>{{ 'Log In'|translate }}</span>
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span data-signup-modal="true">
                            <button aria-disabled="false" type="button" class="container_1atmsee-o_O-container_125295r">
                                <span class="text_10flerh-o_O-text_v1ofku">
                                    <span>{{ 'Sign Up'|translate }}</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dls-help-center-background">
    <div class="dls-help-center">
        <div class="subnav">
            <div class="page-container page-container-responsive">
                <ul class="subnav-list">
                    <li>
                        <a class="subnav-item" routerLink="/help">
                            {{ 'Help Center'|translate }}
                        </a>
                    </li>
                    <li *ngIf="parent_category !== null">
                        <a class="subnav-item" (click)="back()">
                            <i class="icon icon-chevron-right"></i>
                            {{ parent_category.name }}
                        </a>
                    </li>
                    <li *ngIf="current_category !== null">
                        <a class="subnav-item">
                            <i class="icon icon-chevron-right"></i>
                            {{ current_category.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-container page-container-responsive page-container-sm-full">
        <div class="row space-top-8 space-top-sm-2">
            <div class="col-md-3 left-menu">
                <app-help-categories
                        (current_category_event)="current_category = $event"
                        (parent_category_event)="parent_category = $event"
                ></app-help-categories>
            </div>
            <div class="col-sm-12 col-sm-offset-0 col-md-8 col-offset-1 help-content text-copy navtree-content breadcrumbs-content">
                <div class="help-center-sm help-center-body-sm">

                    <div *ngIf="item !== null" data-hypernova-key="help_centertopic_pagebundlejs">
                        <div style="margin-top:0;margin-bottom:24px;margin-left:0;margin-right:0;">
                            <div style="margin-top:-32px;margin-bottom:24px;margin-left:0;margin-right:0;">
                                <div>
                                    <div class="row_ccbk9r-o_O-baseline_hero_1w3yqgy">
                                        <h2 class="text_1lobov3-o_O-size_title2_19gapi5-o_O-weight_bold_1mzzwq6">{{ item.name }}</h2>
                                    </div>
                                    <div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;">
                                        <div class="rule_1m5gd0g-o_O-hero_1qucgbb"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div *ngFor="let article of item.articles" class="row_ccbk9r-o_O-baseline_full_1m5gd0g">
                                    <div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;">
                                        <div class="row">
                                            <div class="dls-link-icon show-lg show-md">
                                                <div style="margin-top:3.2px;margin-bottom:0;margin-left:0;margin-right:0;">
                                                    <svg viewBox="0 0 24 24" style="fill:#484848;height:18px;width:18px;display:block;" data-reactid=".21ynu8qkxds.1.$=10=2$faq-row-0.$faq-0.0.0.1.0"><path d="M4.503 1A1.5 1.5 0 0 0 3 2.501v18.998C3 22.325 3.673 23 4.498 23h15.005c.829 0 1.497-.668 1.497-1.494V7h-4.509A1.495 1.495 0 0 1 15 5.509V1H4.503zM16 1.707v3.802c0 .268.224.491.491.491h3.802l-2.146-2.146L16 1.707zM15.028 0h.472c.133 0 .26.053.354.146l3 3 3 3A.5.5 0 0 1 22 6.5v15.006A2.494 2.494 0 0 1 19.503 24H4.498A2.503 2.503 0 0 1 2 21.499V2.501A2.5 2.5 0 0 1 4.503 0h10.525zM6.5 18a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm0-4a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zM6 10.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm6-4a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5z"></path></svg>
                                                </div>
                                            </div>
                                            <div class="dls-link-text">
                                                <span class="text_1lobov3-o_O-size_regular_c5uc97-o_O-weight_light_1s4oduu-o_O-inline_10f0ge3">
                                                    <a routerLink="{{ article.url }}" class="component_zvm05b-o_O-navigation_j1hgdd">{{ article.name }}</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-bottom-menu></app-bottom-menu>