<app-top-menu></app-top-menu>
<div class="row text-center" style="height: 200px; margin-top: 80px;">
    <h1 class="col-md-12">{{ 'Banner'|translate }}</h1>
</div>
<app-ads-search-line></app-ads-search-line>
<div class="section-intro text-center space-6 space-top-8">
    <h2 class="space-1">
        <strong>{{ 'Explore the world'|translate }}</strong>
    </h2>
    <p class="text-lead">
        {{ 'See where people are traveling, all around the world.'|translate }}
    </p>
</div>
<app-discovery-tiles></app-discovery-tiles>
<app-bottom-menu></app-bottom-menu>