<app-top-menu></app-top-menu>
<app-help-search></app-help-search>
<div id="login-container">
    <div class="login-box text-center">
        <div class="va-container va-container-h va-container-v">
            <div class="va-middle">
                <div class="space-6">
                    <h3 class="text_1lobov3-o_O-size_title3_czh5ol-o_O-weight_bold_1mzzwq6-o_O-color_inverse_113vl3">
                        <span>{{ 'Log in for personalized help'|translate }}</span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span data-login-modal="true">
                            <button aria-disabled="false" type="button" class="container_1atmsee-o_O-container_l3hzrm">
                                <span class="text_10flerh-o_O-text_1efbvjp">
                                    <span>{{ 'Log In'|translate }}</span>
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span data-signup-modal="true">
                            <button aria-disabled="false" type="button" class="container_1atmsee-o_O-container_125295r">
                                <span class="text_10flerh-o_O-text_v1ofku">
                                    <span>{{ 'Sign Up'|translate }}</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dls-help-center-background">
    <div class="dls-help-center">
        <div class="subnav">
            <div class="page-container page-container-responsive">
                <ul class="subnav-list">
                    <li>
                        <a class="subnav-item" routerLink="/help">
                            {{ 'Help Center'|translate }}
                        </a>
                    </li>
                    <li *ngIf="parent_category !== null">
                        <a class="subnav-item" (click)="back()">
                            <i class="icon icon-chevron-right"></i>
                            {{ parent_category.name }}
                        </a>
                    </li>
                    <li *ngIf="current_category !== null">
                        <a class="subnav-item">
                            <i class="icon icon-chevron-right"></i>
                            {{ current_category.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-container page-container-responsive page-container-sm-full">
        <div class="row space-top-8 space-top-sm-2">
            <div class="col-md-3 left-menu">
                <app-help-categories
                        (current_category_event)="current_category = $event"
                        (parent_category_event)="parent_category = $event"
                ></app-help-categories>
            </div>
            <div *ngIf="item != null" class="col-sm-12 col-sm-offset-0 col-md-8 col-offset-1 help-content text-copy navtree-content breadcrumbs-content">


                    <h1>{{ item.name }}</h1>

                    <ol *ngIf="item.items != null" class="list-unstyled getting-started-list {{ item.step }}">
                        <li *ngFor="let subitem of item.items" class="panel row-space-6 {{ subitem.step }}">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-7">
                                        <h3>{{ subitem.name }}</h3>
                                        <p>{{ subitem.description }}</p>
                                    </div>
                                    <div class="col-3 illustration"></div>
                                </div>
                             </div>
                        </li>
                    </ol>

                    <h1>
                        Looking for more info?
                    </h1>

                    <ul class="list-unstyled looking-for-more-info-list">
                        <li class="panel panel-dark row-space-top-3">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="icon icon-description-alt icon-size-4 icon-rausch"></i>
                                    </div>
                                    <div class="col-9">
                                        <h3>
                                            Guest Refund Policy
                                        </h3>
                                        <p>
                                            Our customer service team will support you in the event you experience a Travel Issue.
                                            <a routerLink="/help/topic/251">
                                                Learn more in our policy center
                                                »
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="panel panel-dark row-space-top-3">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="icon icon-question-alt icon-size-4 icon-rausch"></i>
                                    </div>
                                    <div class="col-9">
                                        <h3>
                                            Check out our Help Center
                                        </h3>
                                        <p>
                                            Visit our traveler and host FAQs to learn more about how Airbnb works.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="panel panel-dark row-space-top-3">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-2 text-center">
                                        <i class="icon icon-lifesaver icon-size-4 icon-rausch"></i>
                                    </div>
                                    <div class="col-9">
                                        <h3>
                                            Visit the Safety Center
                                        </h3>
                                        <p>
                                            Your safety is our number one concern.
                                            <a routerLink="/safety">
                                                Learn more at our Trust and Safety Center
                                                »
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
<app-bottom-menu></app-bottom-menu>