                                                        <div class="star-rating-wrapper">
                                                            <div class="star-rating" content="4.5">
                                                                <div class="foreground">
                                                                    <span>
                                                                        <i *ngIf="star == 0.5" class="icon-star-half icon icon-beach icon-star-big"></i>
                                                                        <span *ngIf="star >= 1">
                                                                            <i class="icon-star icon icon-beach icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <i *ngIf="star == 1.5" class="icon-star-half icon icon-beach icon-star-big"></i>
                                                                        <span *ngIf="star >= 2">
                                                                            <i class="icon-star icon icon-beach icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <i *ngIf="star == 2.5" class="icon-star-half icon icon-beach icon-star-big"></i>
                                                                        <span *ngIf="star >= 3">
                                                                            <i class="icon-star icon icon-beach icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <i *ngIf="star == 3.5" class="icon-star-half icon icon-beach icon-star-big"></i>
                                                                        <span *ngIf="star >= 4">
                                                                            <i class="icon-star icon icon-beach icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <i *ngIf="star == 4.5" class="icon-star-half icon icon-beach icon-star-big"></i>
                                                                        <span *ngIf="star == 5">
                                                                            <i class="icon-star icon icon-beach icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="background">
                                                                    <span>
                                                                        <span>
                                                                            <i class="icon-star icon icon-light-gray icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <span>
                                                                            <i class="icon-star icon icon-light-gray icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <span>
                                                                            <i class="icon-star icon icon-light-gray icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <span>
                                                                            <i class="icon-star icon icon-light-gray icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                        <span>
                                                                            <i class="icon-star icon icon-light-gray icon-star-big"></i>
                                                                            <span> </span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <span> </span>
                                                            <span class="h6 hide">
                                                                <small>
                                                                    <span></span>
                                                                </small>
                                                            </span>
                                                        </div>