<app-top-menu></app-top-menu>
<div class="subnav" data-sticky="true">
    <div class="page-container page-container-responsive">
        <ul class="subnav-list">
            <li class="subnav-children show-sm">
                <a class="subnav-item subnav-item-child" routerLink="/about/about-us">
                    About Us
                </a>
                <a class="subnav-item subnav-item-child" routerLink="/about/founders">
                    Founders
                </a>
            </li>
            <li>
                <a class="subnav-item" routerLink="/about/about-us" aria-selected="true">
                    About
                    <i class="show-sm subnav-icon-toggle icon icon-chevron-down pull-right"></i>
                </a>
            </li>
            <li>
                <a class="subnav-item" href="/press/news">
                    Press
                </a>
            </li>
            <li>
                <a class="subnav-item" href="/careers">
                    Careers
                </a>
            </li>
            <li>
                <a class="subnav-item" href="javascript:void(0);">
                    Blog
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="page-container page-container-responsive space-4 space-top-6">
    <div class="row">
        <div class="col-2">
            <div class="sidenav">
                <app-about-menu></app-about-menu>
            </div>
        </div>
        <div class="col-9 col-offset-1">
            <div class="text-copy">
                <h1 class="h2">Our Co-Founders</h1>

                <div class="panel">
                    <div class="panel-body">
                        <div class="media space-4">
                            <figure class="media-photo media-round pull-left">
                                <img src="https://a0.muscache.com/airbnb/static/about/resources/joe-gebbia-airbnb-cpo-188-312e7fc5415ae9fede6aab382fccfd56.jpg" width="188" height="188" alt="Joe Gebbia">
                            </figure>
                            <div class="media-body">
                                <h2 class="h3">
                                    Joe Gebbia<br>
                                    <small>CPO &amp; Co-Founder</small>
                                </h2>
                                <p>Joe Gebbia is the co-founder and CPO of Airbnb, serving on the Board of Directors and Executive staff. An entrepreneur from an early age, Airbnb's groundbreaking service began in his San Francisco apartment and spread to 2,000,000 listings in over 191 countries, creating a new economy for thousands of people around the world. He is involved in crafting the company culture, shaping the design aesthetic, and innovating future growth opportunities. Joe has spoken globally about both entrepreneurship and design, and received numerous distinctions such as the <strong>Inc 30 under 30</strong> and <strong>Fortune 40 under 40</strong>. His lifelong appreciation for art and design led him to the Rhode Island School of Design (RISD), where he earned dual degrees in Graphic Design and Industrial Design. Gebbia now serves on the institution's Board of Trustees.</p>
                            </div>
                        </div>
                        <div class="media space-4">
                            <figure class="media-photo media-round pull-left">
                                <img src="https://a0.muscache.com/airbnb/static/about/resources/brian-chesky-airbnb-ceo-188-b1339cef8d2a65386da81992f91d6668.jpg" width="188" height="188" alt="Brian Chesky">
                            </figure>
                            <div class="media-body">
                                <h2 class="h3">
                                    Brian Chesky<br>
                                    <small>CEO &amp; Co-Founder</small>
                                </h2>
                                <p>Brian is the co-founder and CEO at Airbnb. He drives the company's vision, strategy and growth as it provides interesting and unique ways for people to travel and changes the lives of its community. Under Brian's leadership, Airbnb stands at the forefront of the sharing economy, and has expanded to over 2,000,000 listings in 191 countries. Brian met co-founder Joe Gebbia at the Rhode Island School of Design (RISD) where he received a Bachelor of Fine Arts in Industrial Design.</p>
                            </div>
                        </div>
                        <div class="media space-4">
                            <figure class="media-photo media-round pull-left">
                                <img src="https://a2.muscache.com/airbnb/static/about/resources/nathan-blecharczyk-airbnb-cto-188-16f7dd6626eb5f20fadff8f8bd80ade4.jpg" width="188" height="188" alt="Nathan Blecharczyk">
                            </figure>
                            <div class="media-body">
                                <h2 class="h3">
                                    Nathan Blecharczyk<br>
                                    <small>CTO &amp; Co-Founder</small>
                                </h2>
                                <p>Nathan is the co-founder and CTO at Airbnb. He oversees the technical strategy of the company, and is dedicated to building a team of world-class engineers to keep Airbnb at the forefront of the industry. Nathan became an entrepreneur early on running a business while he was in high school, selling to clients in more than 20 countries. He received a degree in Computer Science from Harvard University and held several engineering positions with Microsoft, OPNET Technologies and Batiq before becoming a co-founder at Airbnb.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<app-bottom-menu></app-bottom-menu>