@import "assets/main.css";
@import "assets/common-e2.css";
@import "assets/common_o2.css";
@import "assets/help.css";
@import "assets/map_search.css";
@import "assets/p3.css";
@import "assets/profile.css";
@import "assets/your_trips.css";


.sidenav-item.active {
    text-decoration: none;
    color: #484848;
    font-weight: bold;
}

#searchbar-form .ui-kit-calendar-container,
#searchbar-form .ui-kit-calendar-container .ui-kit-calendar-input.opened {
    width: 148px!important;
    height: 42px;
}

#searchbar-form .ui-kit-calendar-container .ui-kit-calendar-input {
    border: 1px solid #c4c4c4;
    background: #ffffff;
    border-radius: 0;
    color: #484848;
}

.searchbar__location input {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    display: block;
    padding: 8px 10px;
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filters-section.size-group,
.filters-section.options,
.filters-section.neighborhoods,
.filters-section.hosting_amenities,
.filters-section.cancel_policies,
.filters-section.languages,
.filters-footer
{
    display: block;
}

.search-checkin .ui-kit-calendar-container .ui-kit-calendar-input,
.search-checkout .ui-kit-calendar-container .ui-kit-calendar-input
{
    line-height: normal;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    transition: border-color 0.2s;
    display: block;
    padding: 8px 10px;
    width: 100%;
    height: 36px;
    padding-top: 2px;
}

.map-marker .tooltip {
    top: 55px;
    left: 25px;
}

.gm-style-iw, .gm-style-iw div {
    overflow: visible;
}

.outer-listings-container.loading {
    opacity: 0.2;
}

.slider-input-block {
    display: none;
}

.price-range-group .range-ribbon {
    background-color: #00a699;
    height: 4px;
}

.price-range-group .slider-handle {
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    height: 24px;
    margin-left: -12px;
    z-index: 2;
    width: 24px;
    font-size: 0;
}

.ui-kit-calendar-container {
    width: 100%;
}

.book-it-panel .ui-kit-calendar-container {
    display: block;
    padding: 8px 10px;
    width: 100%;
    transition: border-color 0.2s;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: normal;
    float: none;
}

.book-it-panel .ui-kit-calendar-input {
    border: none;
    background: none;
    width: 70px;
    height: 18px;
    color: #484848;
}