.search-checkin datepicker .ui-kit-calendar-container,
.search-checkout datepicker .ui-kit-calendar-container {
    width: 100%!important;
}

.search-checkin datepicker .ui-kit-calendar-container .ui-kit-calendar-input,
.search-checkout datepicker .ui-kit-calendar-container .ui-kit-calendar-input {
    border: 1px solid #aaa!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    background-color: #fff!important;
    color: #484848!important;
    width: 100%!important;
}